<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Nondumsio's Web applicaion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="./style/css/normalize.css">
  <link rel="stylesheet" href="./style/css/skeleton.css">
  <link rel="stylesheet" href="./style/css/logo.css">
  <link rel="stylesheet" href="./style/css/custom.css">
  <link rel="stylesheet" href="./style/css/info.css">
  <link rel="stylesheet" href="./style/css/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="./style/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Raleway" rel="stylesheet">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicon_package_v0.16/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon_package_v0.16/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon_package_v0.16/favicon-16x16.png">
  <link rel="manifest" href="favicon_package_v0.16/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  {{{body}}}

  <div class="social-container">
    <ul class="social-icons">
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    </ul>
  </div>
  <script src="./js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="./js/custom.js"></script>
  <script type="text/javascript" src="./js/nav.js"></script>
  <script type="text/javascript" src="./js/info.js"></script>
  <script type="text/javascript" src="./js/about.js"></script>
  <small>Copyright <img src="images/CopyrightSymbol.png"> Art Lyf 2019</small>
</body>

</html>
