<br>
<div class="row">
  <div class="wrapper">

  <div id="personalStatement" class="post">
    <div class="ui-widget ui-front ui-widget-content ui-corner-all ui-widget-shadow">
      <p>

      </p>
      <p><strong>Everything is possible</strong></p>
      <img class="profilePic" src="images/IMG_4567.JPG" alt="">
    </div>
  </div>
</div>
</div>
<br>
