<div class="row">
  <div class="post">
    <div class="ui-widget ui-front ui-widget-content ui-corner-all ui-widget-shadow">
      <div class="success-message">
        <svg viewBox="0 0 76 76" class="success-message__icon icon-checkmark">
          <circle cx="38" cy="38" r="36" />
          <path fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M17.7,40.9l10.9,10.9l28.7-28.7" />
        </svg>
        <br>
        <div class="message-sent">
          <h1 class="success-message__title">Message Sent</h1>
        </div>
        <div class="success-message__content">
          <p>One of our consultant will be with you shortly if you left your contact</p>
        </div>
      </div>
      <div class="message-sent">
        <input id="okay" type="button" class="okay" name="" value="OK">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="./js/message.js"></script>
